:root {
    --coral: #F05D5E;
    --teal: #0F7173;
    --light: #E7ECEF;
    --dark: #272932;
    --camel: #D8A47F;
    --sofia: "Sofia", sans-serif;
    --arial: Arial, Helvetica, sans-serif;
}

/*universal selector (*) selects all HTML elements on the page*/
*{
    font-size: 100%;
}

h1{
    font-size: 3rem;
    font-family: var(--sofia);
}

h2{
    font-family: var(--sofia);
    font-size: 2rem;
}

h3{
    font-family: var(--sofia);
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
}

p{
    font-size: 1rem;
}

body {
    background-color: var(--light);
    padding: 0.5em;    
}

.card-container{
    width: 95%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
}

.card {
    border: 1px var(--teal) dashed;
    background-color: var(--camel);
    padding: 0.2em;
    margin: 0.2em;
}

img {
    width: 5em;
}

/*media query */
@media only screen and (min-width: 700px) {
    body {
      font-size: 2rem;
      background-color: var(--coral);
    }
  }

@media only screen and (min-width: 1000px) {
    body {
      font-size: 3rem;
      background-color: var(--teal);
    }
}

  /*Small devices (landscape phones, 576px and up)*/
@media only screen and (max-width: 576px) { 
    p{
        display: none;
    }
    h1{
        font-family: var(--arial);
    }
    h2{
        font-family: var(--arial);
    }
    h3{
        font-family: var(--arial);
    }
}
/*media query that checks what screen preferences a user has*/
@media only screen and (prefers-color-scheme: dark) {
    body {
      background-color: var(--dark);
      color: var(--light);
    }
  }
